.stack-select {
  border-color: black !important;
}
.css-13cymwt-control {
  border-color: black !important;
}
.css-t3ipsp-control {
  border-color: black !important;
  box-shadow: none !important;
}
